@import url();

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    color: #00ffff;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #14171d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content{
    width: fit-content;
    padding: 30px 40px;
    border: 2px solid silver;
}

.form-content div:not(.submit){
    margin: 25px 0px;
    border-bottom: 1px solid white;
}

input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 6px 4px;
    color: white;
    font-size: 16px;
}

.submit button{
    border: none;
    outline: none;
    background-color: #00ffff;
    color: black;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}